.DS_Store
Thumbs.db
.vercel
node_modules/
*.log
assets/images/person/
assets/images/logo/mj black.jpg
assets/images/logo/mj orange red.jpg
assets/images/logo/mj white.png
assets/images/team error 404/
